<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Bio-Composting Culture</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content" class="marginbtm30">
    <div class="container">
        <div class="row">
            <div class="span10 margintop10">
                <b class="">PLANET BIOTECH INDIA</b> has developed an unique consortium of bacteria and fungus which synthesizes degradative enzymes like cellulase, amylase, lipase, protease, pectinase etc which quickly decompose the agriculture, kitchen or industrial waste so it can be used as bio-compost fertilizer
            </div>
            <div class="span2 margintop10">
                <img src="../assets/img/products/bcc_o1.jpg" class="pull-right" style="height: 150px;width: 150px;" alt="image">
            </div>
        </div>
    </div>
</section>

<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-products").addClass("active");
        $(".nav-biocomposting_culture").addClass("active");
    });
</script>