
<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="widget">
                    <img src="../assets/img/logo.png" alt="LOGO">
                    <p class="margintop10">D-104, Krishna Park,<br>
                        Opp. Varachha Bank, Sudama Chowk,<br>
                        Mota Varaccha, Surat-394101,<br>
                        Gujarat, India
                    </p>
                </div>
            </div>
            <div class="span3">
              <p>
                <dl>
                  <dt class="margintop5">Email : </dt>
                      <dd><a href="mailto:borada.dilip@gmail.com">borada.dilip@gmail.com</a></dd>
                      <dd><a href="mailto:planetbiotechindia@gmail.com">planetbiotechindia@gmail.com</a></dd>
                  <dt class="margintop5">Phone :</dt>
                      <dd>+91 88662 93326</dd>
                      <dd>+91 99134 45405</dd>
                  <dt class="margintop5">Contact Person :</dt>
                      <dd>Dilip Borada</dd>
                </dl>
              </p>
            </div>
            <div class="span3">
                <div class="widget">
                    <h5 class="widgetheading">Products</h5>
                    <ul class="link-list">
                        <li class="nav-liquid_biofertilizer"><a href="../liquid_biofertilizer/"><b><i class="icon-angle-right text-success"></i>LIQUID BIOFERTILIZER</b></a></li>
                        <li class="nav-biopesticide_services"><a href="../biopesticide_services/"><b><i class="icon-angle-right text-success"></i>BIOPESTICIDE SERVICES</b></a></li>
                        <li class="nav-biocomposting_culture"><a href="../biocomposting_culture/"><b><i class="icon-angle-right text-success"></i>BIO-COMPOSTING CULTURE</b></a></li>
                        <li class="nav-bioorganic_products"><a href="../bioorganic_products"><b><i class="icon-angle-right text-success"></i>BIO-ORGANIC PRODUCTS</b></a></li>
                        <li class="nav-organic_farming_services"><a href="../organic_farming_services/"><b><i class="icon-angle-right text-success"></i>ORGANIC FARMING SERVICES</b></a></li>
                        <li class="nav-animal_probiotics"><a href="../animal_probiotics/"><b><i class="icon-angle-right text-success"></i>ANIMAL PROBIOTICS</b></a></li>
                        <li class="nav-enzymes"><a href="../enzymes/"><b><i class="icon-angle-right text-success"></i>ENZYMES</b></a></li>
                        <li class="nav-bacteriological_media"><a href="../bacteriological_media"><b><i class="icon-angle-right text-success"></i>BACTERIOLOGICAL MEDIA</b></a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                    <h5 class="widgetheading">Links</h5>
                    <ul class="link-list">
                        <li class="nav-home"><a href="../"><b><i class="icon-angle-right text-success"></i>Home</b></a></li>
                        <li class="nav-about"><a href="../about/"><b><i class="icon-angle-right text-success"></i>About Us</b></a></li>
                        <li class="nav-services"><a href="../services/"><b><i class="icon-angle-right text-success"></i>Services</b></a></li>
                        <li class="nav-projects_done"><a href="../projects_done"><b><i class="icon-angle-right text-success"></i>Projects Done</b></a></li>
                        <li class="nav-contact"><a href="../contact/"><b><i class="icon-angle-right text-success"></i>Contact</b></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
      <div class="container">
        <div class="row marginbtm10">
          <div class="span5">
            <div class="">
              <p>&copy; Copyright Planet biotech india. All rights reserved.</p>
            </div>
          </div>
          <div class="span4">
            <p>Designed by <a href="https://itechnotion.com">iTechNotion Prirvate Limited</a></p>
          </div>
          <div class="span3">
            <ul class="social-network">
                <li><a href="https://twitter.com/planetbiotechin" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                <li><a href="https://www.facebook.com/planetbiotechindia" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                <li><a href="https://plus.google.com/+Planetbiotechindiacom" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
                <li><a href="https://www.linkedin.com/pub/dilip-borada/b4/660/278" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                <li><a href="http://planetbiotechindia.tumblr.com/" data-placement="bottom" title="tumblr"><i class="font-icon-social-tumblr icon-square" style="padding-top: 5px; padding-bottom: 1px;"></i></a></li>
                <li><a href="https://www.pinterest.com/planetbiotech/" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/jquery.easing.1.3.js"></script>
  <script src="../assets/js/bootstrap.js"></script>
  <script src="../assets/js/jcarousel/jquery.jcarousel.min.js"></script>
  <script src="../assets/js/jquery.fancybox.pack.js"></script>
  <script src="../assets/js/jquery.fancybox-media.js"></script>
  <script src="../assets/js/google-code-prettify/prettify.js"></script>
  <script src="../assets/js/portfolio/jquery.quicksand.js"></script>
  <script src="../assets/js/portfolio/setting.js"></script>
  <script src="../assets/js/jquery.flexslider.js"></script>
  <script src="../assets/js/jquery.nivo.slider.js"></script>
  <script src="../assets/js/modernizr.custom.js"></script>
  <script src="../assets/js/jquery.ba-cond.min.js"></script>
  <script src="../assets/js/jquery.slitslider.js"></script>
  <script src="../assets/js/animate.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="../assets/js/custom.js"></script>

</body>
</html>
