<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Bio-Organic Plant Growth Promoter</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content" class="marginbtm30">
    <div class="container">
        <div class="row">
            <div class="span12 margintop20">
                <b class="">PLANET BIOTECH INDIA</b> has developed plant extract, bacterial-fungal protein and hormones based formulations which will promote the growth of plants and increase the disease resistance thereby increase the yield.
            </div>
            <div class="span12 margintop40">
                <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Humic acid" href="../assets/img/products/bop1.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bop1.jpg" style="height:100%;width:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Seaweed extract-Zyme" href="../assets/img/products/bop2.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bop2.jpg" style="height:100%;width:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Amino acids-protein hydrolysate" href="../assets/img/products/bop3.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bop3.jpg" style="height:100%;width:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Plant hormones" href="../assets/img/products/bop4.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bop4.jpg" style="height:100%;width:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mix micronutrients" href="../assets/img/products/bop5.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bop5.jpg" style="height:100%;width:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Nitrobenzene" href="../assets/img/products/bop6.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bop6.jpg" style="height:100%;width:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>

<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-products").addClass("active");
        $(".nav-bioorganic_products").addClass("active");
    });
</script>