<section id="featured"><!-- start slider -->
    <!-- Slider -->
    <div id="nivo-slider">
      <div class="nivo-slider" style="max-height: 500px;">
        <!-- Slide #1 image -->
        <img src="../assets/img/slides/nivo/bg-1.jpg" alt="" />
        <!-- Slide #2 image -->
        <img src="../assets/img/slides/nivo/bg-2.jpg" alt="" />
        <!-- Slide #3 image -->
        <img src="../assets/img/slides/nivo/bg-3.jpg" alt="" />
        <!-- Slide #4 image -->
        <img src="../assets/img/slides/nivo/bg-4.jpg" alt="" />
      </div>
    </div>
</section><!-- end slider -->

<section id="content" class="pt-0">
    <div class="" style="background-color: #f3f1f0;">
        <div class="container">
            <div class="row mb-0" style="padding: 25px 0px 15px 0px;">
                <div class="span10">
                    <p>
                        <strong>PLANET BIOTECH INDIA</strong> is research driven biotech company involved in Turnkey project execution, complete Technology Transfer i.e Liquid Biofertilizer Technology Transfer, biopesticide technology transfer, Consultancy services, Contract Research & Manufacturing and Industrial-Academic training of fermentation based microbial formulation and metabolites production  i.e. Biofertilizer, Biopesticide, Bio-organic plant growth promoters, Animal  Probiotics-Feed supplements  and Enzymes since 2009.
                    </p>
                </div>
                <div class="span2 text-right margintop20">
                    <a class="btn btn-large btn-theme" href="../contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container margintop30">
        <div class="row">
            <div class="span8">
                <h5 class="margintop10"><b>Products and Services We offer</b></h5>
                <dl>
                    <dt>Biofertilizer</dt>
                    <dd>Turnkey plant, Products, Raw material, Liquid Biofertilizer production Technology Transfer, Consultancy Services to Develop Biofertilizers, training to develop Biofertilizer, complete Liquid Biofertilizer formulation</dd>

                    <dt class="margintop5">Biopesticides</dt>
                    <dd>Turnkey plant, Products, Raw material, Biopesticide production Technology Transfer, Consultancy Services to set up Biocontrol laboratory or to develop Biopesticides, training to develop Biopesticide, complete Biopesticide formulation</dd>

                    <dt class="margintop5">Animal Probiotics</dt>
                    <dd>Turnkey plant, Products, Raw material, Technology Transfer, Consultancy Services to Develop animal probiotics, training to develop animal probiotics</dd>

                    <dt class="margintop5">Enzymes</dt>
                    <dd>Raw material, Technology Transfer, Consultancy Services to Develop Enzymes, training to develop Enzymes</dd>
                </dl>
                <h5>Visit <a href="../services/">Services</a> for more details.</h5>
            </div>
            <div class="span4">
                <div class="nivo-slider margintop40" style="height: 250px;">
                    <!-- Slide #1 image -->
                    <img src="../assets/img/slides/nivo/index1.jpg" style="height: 250px;" alt="" />
                    <!-- Slide #2 image -->
                    <img src="../assets/img/slides/nivo/index2.jpg" style="height: 250px;" alt="" />
                    <!-- Slide #3 image -->
                    <img src="../assets/img/slides/nivo/index3.jpg" style="height: 250px;" alt="" />
                    <!-- Slide #4 image -->
                    <img src="../assets/img/slides/nivo/index4.jpg" style="height: 250px;" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

  <script>
      $(function(){
          $(".nav").find("li").removeClass("active");
          $(".nav-home").addClass("active");
      });
  </script>