<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span4">
                <aside class="left-sidebar">
                    <div class="widget">
                        <h5 class="widgetheading">Our Office</h5>
                        <p>
                            D-104, Krishna Park<br>
                            Opp. Varachha bank, Sudama chowk, <br>
                            Mota Varaccha, Surat-394101, <br>
                            Gujarat, India <br><br>
                            <b>Email :</b>
                                <ul class="unstyled">
                                    <li><a href="mailto:borada.dilip@gmail.com">borada.dilip@gmail.com</a></li>
                                    <li><a href="mailto:planetbiotechindia@gmail.com">planetbiotechindia@gmail.com</a></li>
                                </ul><br>
                            <b>Phone :</b>
                                <ul class="unstyled">
                                    <li>+91 88662 93326</li>
                                    <li>+91 99134 45405</li>
                                </ul><br>
                            <b>Contact Person :</b> Dilip Borada
                        </p>
                    </div>
                    <div class="widget">
                        <ul class="social-network">
                            <li><a href="https://twitter.com/planetbiotechin" data-placement="bottom" title="" data-original-title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                            <li><a href="https://www.facebook.com/planetbiotechindia" data-placement="bottom" title="" data-original-title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                            <li><a href="https://plus.google.com/+Planetbiotechindiacom" data-placement="bottom" title="" data-original-title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
                            <li><a href="https://www.linkedin.com/pub/dilip-borada/b4/660/278" data-placement="bottom" title="" data-original-title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                            <li><a href="http://planetbiotechindia.tumblr.com/" data-placement="bottom" title="" data-original-title="tumblr"><i class="font-icon-social-tumblr icon-square" style="padding-top: 5px; padding-bottom: 1px;"></i></a></li>
                            <li><a href="https://www.pinterest.com/planetbiotech/" data-placement="bottom" title="" data-original-title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="span8 form">
                <div class="row paddingleft30">
                    <h3 class="text-center">Inquiry</h3>
                    <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
                    <script>
                    hbspt.forms.create({
                        portalId: "7744745",
                        formId: "2a5056f2-2252-4c4a-be59-6e9d78bf0234"
                    });
                    </script>
                </div><!--End row class--->
            </div>
        </div><!--End row class-->
    </div>
</section>

<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-contact").addClass("active");
    });
</script>