<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Bacteriological Media</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="content" class="marginbtm30">
    <div class="container">
        <p>
            <b class="">PLANET BIOTECH INDIA</b> provides probiotics, biofertilizer and biopesticide raw material (biological source of amino acids and vitamins) of fermentation bacteriological media for the growth of bacteria and fungus. we provide high quality dehydrated media which is produced with minimum degradation of vitamins and protein, so our product is rich in essential nutrients which gives faster & better growth i.e CFU count and shelf life.
        </p>
        <div class="row">
            <div class="span12">
                <p>
                    <ul>
                        <li>YEAST EXTRACT POWDER</li>
                        <li>PEPTONE POWDER BACTERIOLOGICAL</li>
                        <li>SOYA PEPTONE (VEG PEPTONE)</li>
                        <li>PROTEOSE PEPTONE</li>
                        <li>MEAT EXTRACT</li>
                        <li>MALT EXTRACT</li>
                        <li>TRYPTONE BACTERIOLOGICAL</li>
                        <li>GLUCOSE/DEXTROSE POWDER</li>
                        <li>MANNITOL</li>
                        <li>DL-MALIC ACID</li>
                        <li>CARBOXY METHYL CELLULOSE (CMC)</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span12 margintop20">
                <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="glucose powder" href="../assets/img/products/bmm1.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bmm1.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="tryptone powder" href="../assets/img/products/bmm2.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bmm2.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="peptone bacteriological, proteose peptone" href="../assets/img/products/bmm3.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bmm3.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="malt extract" href="../assets/img/products/bmm4.gif">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bmm4.gif" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="BEEF EXTRACT" href="../assets/img/products/bmm5.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bmm5.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="yeast extract powder" href="../assets/img/products/bmm6.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/bmm6.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>

    </div>
</section>

<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-products").addClass("active");
        $(".nav-bacteriological_media").addClass("active");
    });
</script>