<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Services</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        <img src="../assets/img/services/main.jpg" style="width: 100%; height: 300px;" />
    </div>
  </section>

<section id="content" class="marginbtm30">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="b_bolder">TURNKEY PROJECTS AND TECHNOLOGY TRANSFER</h4>
            </div>
            <div class="span12">
                <p>
                    <strong class="">PLANET BIOTECH INDIA</strong> provides Turnkey plants, complete Biofertilizer production technology and Biopesticides production technology (fermentation based) since 2009. We offer technology or turnkey solution to set up complete liquid biofertilizer production project and biopesticide production project. We execute complete turnkey project for biofertilizer and biopesticide production plant.
                </p>
            </div>
            <div class="span12 margintop30">
                <div class="row mb-0">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" href="../assets/img/services/1.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="../assets/img/services/1.jpg" style="height:100%" alt="">
                            </li>
                            <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" href="../assets/img/services/2.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="../assets/img/services/2.jpg" style="height:100%" alt="">
                            </li>
                            <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" href="../assets/img/services/3.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="../assets/img/services/3.jpg" style="height:100%" alt="">
                            </li>
                            <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" href="../assets/img/services/4.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="../assets/img/services/4.jpg" style="height:100%" alt="">
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h6><b class="b_bolder">Scope of work :</b></h6>
                <ul>
                    <li>Laboratory and production house designing, sourcing of instruments, accessories, raw materials etc</li>
                    <li>Complete technology transfer starting from strain maintenance, sub-culturing to mass production of biofertilizer-biopesticide and final formulation.</li>
                    <li>We will provide optimum Media composition, complete liquid biofertilizer and biopesticide formulation, fermentation parameters and Quality control techniques</li>
                    <li>We will provide complete training to technical microbiologist of microbial laboratory techniques, fermentation process, operating of all instruments and we will carry out trial pilot and large scale batch run at your site.</li>
                    <li>Troubleshooting during the manufacturing process</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span6 margintop30">
                <h6 class="">BIOFERTILIZER TURNKEY PROJECT AND TECHNOLOGY TRANSFER</h6>
                <ul>
                    <li>Nitrogen fixing bacteria (Azotobacter, Azospirillum, Rhizobium, Glucon acetobacter)</li>
                    <li>Phosphate solubilizing bacteria (Bacillus megaterium, B. polymigxa, B. coagulance, Pseudomonas spp.)</li>
                    <li>Potash mobilizing bacteria (Frateuria aurantia, Pseudomonas spp.)</li>
                    <li>Zinc mobilizing bacteria (Thiobacillus thioxidans)</li>
                    <li>Sulpher mobilizing bacteria (Thiobacillus thioxidans)</li>
                    <li>Vesicular Arbuscular Mycorrhiza (VAM)</li>
                </ul>
            </div>
            <div class="span6 margintop30">
                <h6 class="">BIOPESCTICIDE TURNKEY PROJECT AND TECHNOLOGY TRANSFER</h6>
                <strong><i class="icon-caret-right"></i> BIO-FUNGICIDE</strong>
                <ul class="unstyled">
                    <li>Trichoderma viride, Trichoderma harzianum, Pseudomonas fluorescence</li>
                </ul>
                <strong><i class="icon-caret-right"></i> BIO-INSECTICIDE</strong>
                <ul class="unstyled">
                    <li>Beauveria bassiana, Verticillium lecanii, Metarhizium anisoplae, Bacillus thuringiensis</li>
                </ul>
                <strong><i class="icon-caret-right"></i> BIO-NEMATICIDE</strong>
                <ul class="unstyled">
                    <li>Paecilomyces lilacinus</li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span3">
                <div class="flexslider" style="height: 180px;">
                    <ul class="slides">
                        <li>
                            <img src="../assets/img/services/flex11.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex12.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex13.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex14.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex15.jpg" style="height: 130px;" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <h4 class=" b_bolder pull-right">CONSULTANCY SERVICES</h4>
                <p class="paddingleft20 pull-right">We provide consultancy services to develop Liquid biofertilizer, biopesticide or to set up biopesticide and liquid biofertilizer production unit, small scale production Laboratory, R&D or quality control laboratory for Agribiotech products -Biofertilizer, Biopesticide, Healthcare products- Animal Probiotics and Enzymes. We provide guidance in R&D for new product development or improvement of existing product, process or formulation. Strain or fermentation process improvement for better result at less production cost.</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span9">
                <h4 class=" b_bolder">CONTRACT RESEARCH & MANUFACTURING</h4>
                <p class="paddingright20">We can carry out the contract research and manufacturing for development-improvement of fermentation based bio-product,liquid biofertilizer, carrier based biofertilizer, biopesticde, animal probiotics, enzymes, metabolites or formulation, Strain improvement, fermentation process improvement, isolation-screening, identification and maintenance of bacterial, fungal or yeast culture.</p>
            </div>
            <div class="span3">
                <div class="flexslider" style="height: 180px;">
                    <ul class="slides">
                        <li>
                            <img src="../assets/img/services/flex21.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex22.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex23.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex24.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex25.jpg" style="height: 130px;" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span3">
                <div class="flexslider" style="height: 180px;">
                    <ul class="slides">
                        <li>
                            <img src="../assets/img/services/flex31.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex32.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex33.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex34.jpg" style="height: 180px;" alt="" />
                        </li>
                        <li>
                            <img src="../assets/img/services/flex35.jpg" style="height: 130px;" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <h4 class=" b_bolder pull-right">INDUSTRIAL-ACADEMIC TRAINING</h4>
                <p class="paddingleft20 pull-right">
                    Planet biotech india provide training for students and company employees for skill development- to improve General microbiological practice-sub culturing, strain isolation, identification and maintenance, strain improvement and fermenter operating practice-inoculums preparation, Inoculation, sampling, harvesting etc. Formulation of bio-product, storage and quality control.<br><br>
                    our services includes training on biofertilizer production process, traning to develop biopesticides, animal probiotics and enzyme.
                </p>
            </div>
        </div>
        
    </div>
</section>
<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-services").addClass("active");
    });
</script>