
<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="inner-heading text-center">
            <h2>About us</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
        <img src="../assets/img/about/about-planet-bio-technology.jpg" style="width: 100%; height: 300px;" />
    </div>
  </section>

    <section id="content" class="marginbtm30">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h4><b>WHAT WE DO</b></h4>
                </div>
                <div class="span6 margintop10">
                    <b>RESEARCH</b>
                    <b class="pull-right">80%</b>
                    <div class="progress progress-striped active">
                        <div class="bar bar-success bar80">
                        </div>
                    </div>
                    <b>TECHNOLOGY DEVELOPMENT</b>
                    <b class="pull-right">75%</b>
                    <div class="progress progress-striped active">
                        <div class="bar bar-success bar75">
                        </div>
                    </div>
                    <b>FERMENTATION PROCESS</b>
                    <b class="pull-right">90%</b>
                    <div class="progress progress-striped active">
                        <div class="bar bar-success bar90">
                        </div>
                    </div>
                    <b>SKILL DEVELOPMENT</b>
                    <b class="pull-right">95%</b>
                    <div class="progress progress-striped active">
                        <div class="bar bar-success bar95">
                        </div>
                    </div>
                </div>
                <div class="span6 margintop10">
                    <p class="paddingleft20">
                        <strong>PLANET BIOTECH INDIA</strong> is a leading supplier of liquid biofertilizer and biopesticide turnkey plant, production technology and consultancy services. we are involved in Turnkey project execution, Technology Transfer, Consultancy services, Contract Research & Manufacturing and Industrial-Academic training for commercial production of liquid Biofertilizer and Biopesticides, Bio-organic plant growth promoters, Animal  Probiotics-Feed supplements  and Enzymes.
                        <br><br>
                        We offer our technical services to set up custom made small scale or large scale production plant, turnkey plant for liquid biofertilizer and biopesticide, to design fermentation vessel or to design, develop and modify fermenter for biofertilizer and biopesticide small scale or large scale production.
                    </p>
                </div>
            </div>
            <hr/>
            <div class="row margintop30">
                <div class="span10">
                    <h6 class="about_services_title">TURNKEY PROJECT AND TECHNOLOGY TRANSFER</h6>
                    <span class="pullquote-right">
                        Planet Biotech India provide biofertilizer and biopesticide Turnkey project, Liquid Bio-fertilizer Technology transfer services. Technology transfer services to set up Biocontrol laboratory for the production of biocontrol agents. We transfer complete technology for Commercialization of Biofertilizer and Biopesticide using either solid state fermentation technology or submerged fermentation via industrial scale fermenter, small scale laboratory fermenter or shaker flask method.
                    </span>
                </div>
                <div class="span2">
                    <img src="../assets/img/about/services1.jpg" alt="">
                </div>
            </div>
            <hr/>
            <div class="row margintop20">
                <div class="span10">
                    <h6 class="about_services_title">CONSULTANCY SERVICES</h6>
                    <span class="pullquote-right">
                        Planet Biotech India provides consultancy services for Liquid Biofertilizer production process, Biopesticide manufacturing process, to set up new laboratory, new product development or to improve exciting products, strain-fermentation process and microbial formulation. We extend our services to overcome contamination problem during fermentation or to solve  gas formation in bottle of  finished liquid biofertilizer product. 
                    </span>
                </div>
                <div class="span2">
                    <img src="../assets/img/about/services2.jpg" alt="">
                </div>
            </div>
            <hr/>
            <div class="row margintop20">
                <div class="span10">
                    <h6 class="about_services_title">CONTRACT RESEARCH AND MANUFACTURING</h6>
                    <span class="pullquote-right">
                        We help our clients for new product development, strain-fermentation process improvement and bacteria-fungal culture maintenance for better productivity and results in the field of  Biofertilizer manufacturing, Biopesticides production, Animal Probiotics and Enzymes.
                    </span>
                </div>
                <div class="span2">
                    <img src="../assets/img/about/services3.jpg" alt="">
                </div>
            </div>
            <hr/>
            <div class="row margintop20">
                <div class="span10">
                    <h6 class="about_services_title">INDUSTRIAL-ACADEMIC TRAINING</h6>
                    <span class="pullquote-right">
                        Planet Biotech India provides training for students and professionals to improve basic microbial laboratory skills, production process and formulation knowledge of fermentation based bio-products. we provides training on Enzymes production, animal Probiotics manufacturing, Liquid biofertilizer production methods, biopesticides production process via fermenter-submerged fermentation  and solid state fermentation
                    </span>
                </div>
                <div class="span2">
                    <img src="../assets/img/about/services4.jpg" alt="">
                </div>                
            </div>
        </div>
    </section>



<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-about").addClass("active");
    });
</script>