body{
	font-weight: 400 !important;
}
.margintop5{
    margin-top: 5px;
}
.margintop20{
    margin-top: 20px;
}
.margintop30{
    margin-top: 30px;
}
.marginbtm10{
    margin-bottom: 10px;
}
.marginbtm30{
    margin-bottom: 30px;
}
.bar.bar95 {
	width:95%;
}
.bar.bar100 {
	width:100%;
}
.pt-0{
	padding-top: 0px !important;
}
.mb-0{
	margin-bottom: 0px !important;
}
.paddingleft10{
	padding-left: 10px;
}
.paddingleft20{
	padding-left: 20px;
}
.paddingleft30{
	padding-left: 30px;
}
.paddingright10{
	padding-right: 10px;
}
.paddingright20{
	padding-right: 20px;
}
.about_services_title{
	color:#4f8e2f;
	font-weight: 600;
}
.active>a{
	color:#4f8e2f;
}
.active>a>b{
	color:#4f8e2f;
}
.demo-2 .bg-img-services-main {
	background-image: url(../img/services/main.jpg);
}
.item-thumbs{
	height: 200px;	
}
.color_green{
	color: #4f8e2f;
}
.b_bolder{
	font-weight: 400;
}
.marginright5{
	margin-right: 5px;
}
.pull-left{
	text-align: left !important;
}
.table-borderless{
	border: none !important;
}
.table-borderless>tr>td{
	padding: 10px;
}
.marginleft20{
	margin-left: 20px;
}
.marginleft10{
	margin-left: 10px;
}
.marginleft15{
	margin-left: 15px;
}
.contact_links>li>a:active{	color:rgb(51, 51, 51) !important;}
.contact_links>li>a:hover{color:rgb(110, 110, 110) !important;text-decoration: none;}
.contact_links>li>a:link{color:rgb(40, 40, 40) !important;}
.contact_links>li>a:visited{color:rgb(40, 40, 40) !important;}
.contact_links>li>a{
	font-size: 18px;
	color: rgb(56, 56, 56);
}

header .logo {
	margin: -3px 0 -3px 0 !important;
}
#inner-headline{
	background: #add972 !important;
	color: #0e3803 !important;
}
#inner-headline .inner-heading h2{
	color: #0e3803 !important;
	font-weight: 600 !important;
	font-size: 35px !important;
}
#inner-headline .row{
	margin-bottom: 8px !important;
}
.inner-heading{
	margin-top: -15px;
}
.about_services_title {
	color: #353535 !important;
}
.pullquote-right{
	color: #666666 !important;
	font-family: unset !important;
}
.fancybox-opened .fancybox-title{
	/* display: none !important; */
}
.fancybox-title-inside-wrap {
    padding: 1px 10px 1px 10px !important;
}
.fancybox-opened .fancybox-title h4{
	font-size: 19px !important;
}
h6{
	font-size: 18px !important;
	font-weight: 500 !important;
}
h4{
	font-size: 25px !important;
}
.row{
	margin-bottom: 0px !important;
}
/* for mobile devices */
@media (max-width: 768px) {
    .navbar nav{
		display: none;
	}
	.navbar{
		margin-top: -13px !important;
	}
	select.selectmenu{
		min-height: 150px;
		overflow-y: auto !important;
	}
	.selectmenu option{
		margin-bottom: 5px !important;
	}
	.inner-heading{
		
	}
	#inner-headline .span12{
		margin-bottom: 0px !important;
	}
	.form .paddingleft30{
		padding-left: 0px !important;
	}
}