
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Liquid Biofertilizer</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content" class="marginbtm30">
    <div class="container">
        <p>
            <strong class="">PLANET BIOTECH INDIA</strong> has developed high quality concentrated microbial formulation which Improves nutrient uptake by converting it in soluble form, increase soil fertility, produces plant growth promoting substances and plant hormones thereby reduces chemical fertilizer usage up to 20-30%<br>
            We are the supplier of Biofertilizer Turnkey plant, Liquid Biofertilizer production technology and consultancy services for biofertilizer manufacturing process, products, raw material, complete  Training on biofertilizer industrial production process etc
        </p>

        <div class="row margintop40">
            <div class="span8 margintop20">
                <h6 class=" b_bolder">AZOTOBACTER CHROOCOCCUM | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    It is free living soil bacteria converts the atmospheric nitrogen into ammonium salts using nitrogenase enzyme and makes it available to the plants thereby partially fulfills the nitrogen requirement. Azotobacter also produce plant hormones mainly Auxins which promotes plant growth.
                </p>
            </div>
            <div class="span4">
                <a href="../assets/img/services/liquid_fe1.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/liquid_fe1.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span8 margintop20">
                <h6 class=" b_bolder">AZOSPIRILLUM LIPOFERUM/ AZOSPIRILLUM BRASILENSE</h6>
                <p class="paddingright20">
                    These bacteria are found in root-zone (rhizosphere) of several plants and fix the atmospheric nitrogen and make it available to the plants.
                </p>
            </div>
            <div class="span4">
                <a href="../assets/img/services/liquid_fe22.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/liquid_fe22.jpg" style="height: 150px;width: 150px;" alt="image">
                </a>
                <a href="../assets/img/services/liquid_fe21.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/liquid_fe21.jpg" style="height: 150px;width: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span8 margintop20">
                <h6 class=" b_bolder">PHOSPHATE SOLUBILIZING BACTERIA (PSB) | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    It is free living soil bacteria converts the atmospheric nitrogen into ammonium salts using nitrogenase enzyme and makes it available to the plants thereby partially fulfills the nitrogen requirement. Azotobacter also produce plant hormones mainly Auxins which promotes plant growth.
                </p>
            </div>
            <div class="span4">
                <a href="../assets/img/services/psb2.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/psb2.jpg" style="height: 150px;width: 150px" alt="image">
                </a>
                <a href="../assets/img/services/psb1.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/psb1.jpg" style="height: 150px;width: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span8 margintop10">
                <h6 class=" b_bolder">RHIZOBIUM LEGUMINOSARUM | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    This bacteria fix the atmospheric nitrogen symbiotically and makes it available to the plants thereby partially fulfills the nitrogen requirement to replace chemical nitrogen fertilizer <br>Suitable for Groundnut, soybean, pulses and legumes
                </p>
            </div>
            <div class="span4">
                <a href="../assets/img/services/rl1.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/rl1.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/services/rl2.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/rl2.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span8 margintop10">
                <h6 class=" b_bolder">POTASH MOBILIZING BACTERIA (KMB) | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    This group of bacteria Converts insoluble potash present in soil into soluble form in majority soils (pH 5 to 11) and make them available to plants thus helps in flowering and fruiting. Improves the quality (color, size, shine, aroma/flavor and shelf-life) of produce.
                </p>
            </div>
            <div class="span4">
                <a href="../assets/img/services/pmb1.png" class="pull-right" target="_blank">
                    <img src="../assets/img/services/pmb1.png" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span8 margintop20">
                <h6 class=" b_bolder">Bio NPK| Powder- Liquid</h6>
                <p class="paddingright20">
                    This is the unique consortium of nitrogen fixing bacteria, phosphorus solubilizing and potash mobilizing bacteria, which partially fulfils the NPK requirements of plants
                </p>
            </div>
            <div class="span4">
                <a href="../assets/img/services/bnpk1.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/bnpk1.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span8 margintop20">
                <h6 class=" b_bolder">GLUCONACETOBACTER DIAZOTROPHICUS</h6>
                <p class="paddingright20">
                    This group of soil bacteria is associated with sugarcane plants and fixes the atmospheric nitrogen. It is considered plant growth promoting bacteria (PGPB)
                </p>
            </div>
            <div class="span4">
                <a href="../assets/img/services/gd1.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/gd1.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span8 margintop10">
                <h6 class=" b_bolder">VESICULAR ARBUSCULAR MYCORRHIZA | POWDER</h6>
                <p class="paddingright20">
                    This is symbiotic fungus penetrates plant root and improves uptake of all the essential nutrient elements required for growth to the plants and make the soil more fertile. It increases the resistance power in the plant to fight against the diseases.
                </p>
            </div>
            <div class="span4">
                <a href="../assets/img/services/vam1.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/vam1.jpg" style="height: 150px;width: 150px;" alt="image">
                </a>
                <a href="../assets/img/services/vam2.jpg" class="pull-right" target="_blank">
                    <img src="../assets/img/services/vam2.jpg" style="height: 150px;width: 150px;" alt="image">
                </a>
            </div>
        </div>
    </div>
</section>    


<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-products").addClass("active");
        $(".nav-liquid_biofertilizer").addClass("active");
    });
</script>