<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Enzymes</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content" class="marginbtm30">
    <div class="container">
        <p>
            We provide Consultancy services, contract research & manufacturing and industrial-academic training to develop fermentation based industrial enzymes.
        </p>
        <div class="row margintop20">
            <div class="span12 margintop20">
                <h6 class=" b_bolder">TEXTILE</h6>
                <p class="paddingright20">
                    <div class="row">
                        <div class="span8">
                            <table class="table-borderless">
                                <tr>
                                    <td><b>Desizing</b> - starch breaking enzymes</td>
                                    <td>: <b>Alpha amylase</b></td>
                                </tr>
                                <tr>
                                    <td><b>Bio-polishing </b>– for cotton, blended fabric and garments</td>
                                    <td>: <b>Cellulase</b></td>
                                </tr><tr>
                                    <td><b>Bleach clean up</b> – to remove residual hydrogen peroxideUsed for bleaching of cotton</td>
                                    <td>: <b>Catalase</b></td>
                                </tr><tr>
                                    <td><b>Denim Bio-finishing</b>(bio-stone washing) – loosening theIndigo dye to give worn finish	</td>
                                    <td>: <b>Cellulase</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </p>
            </div>
            <div class="span12 margintop20">
                <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Desizing-alpha amylase" href="../assets/img/products/textile1.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/textile1.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Denim bio-finishing-cellulase" href="../assets/img/products/textile2.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/textile2.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="bleach clean up-catalase" href="../assets/img/products/textile3.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/textile3.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Bio-polishing-cellulase" href="../assets/img/products/textile4.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/textile4.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span12 margintop20">
                <h6 class=" b_bolder">LEATHER</h6>
                <p class="paddingright20">
                    <div class="row">
                        <div class="span8">
                            <table class="table-borderless">
                                <tr>
                                    <td><b>Degreasing</b> – to remove fat for better tannin and dyeing</td>
                                    <td>: <b>Lipase</b></td>
                                </tr>
                                <tr>
                                    <td><b>Bating</b> – o remove unwanted protein</td>
                                    <td>: <b>Protease</b></td>
                                </tr><tr>
                                    <td><b>Soaking </b> – to increase water uptake by dissolvingfibre protein and fat and oils</td>
                                    <td>: <b> Protease and Lipase</b></td>
                                </tr><tr>
                                    <td><b>Dehairing </b>to remove unwanted hairs</td>
                                    <td>: <b>Alkaline protease</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </p>
            </div>
            <div class="span12 margintop20">
                <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="soaking proteases and lipase leather industry" href="../assets/img/products/leather1.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/leather1.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Degreasing-lipase leather enzyme" href="../assets/img/products/leather2.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/leather2.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Dehairing-alkaline proteases leather enzymes" href="../assets/img/products/leather3.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/leather3.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span12 margintop20">
                <h6 class=" b_bolder">BAKING</h6>
                <p class="paddingright20">
                    <div class="row">
                        <div class="span8">
                            <table class="table-borderless">
                                <tr>
                                    <td><b>Bread production </b> – to degrade starch</td>
                                    <td>: <b>Amylase</b></td>
                                </tr>
                                <tr>
                                    <td>to improve gluten network strength</td>
                                    <td>: <b>Protease, Xylanase, lipase</b></td>
                                </tr><tr>
                                    <td>to improve dough</td>
                                    <td>: <b> alpha amylase, xylanase, and protease</b></td>
                                </tr><tr>
                                    <td><b>Biscuit production </b>- To weaken gluten protein structure</td>
                                    <td>: <b>Protease</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </p>
            </div>
            <div class="span12 margintop20">
                <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Protease enzyme for biscuit making" href="../assets/img/products/baking1.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/baking1.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="amylase, protease. lipase, xylanase enzyme for bread making" href="../assets/img/products/baking2.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/baking2.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span12 margintop20">
                <h6 class=" b_bolder">DETERGENT</h6>
                <p class="paddingright20">
                    <div class="row">
                        <div class="span8">
                            <table class="table-borderless">
                                <tr>
                                    <td>To remove protein stains like human sweat, blood etc</td>
                                    <td>: <b>Protease</b></td>
                                </tr>
                                <tr>
                                    <td>To remove oily stains like fats, oil etc</td>
                                    <td>: <b>Lipase</b></td>
                                </tr><tr>
                                    <td>To remove starchy stains like gravy, sauces</td>
                                    <td>: <b> Amylase</b></td>
                                </tr><tr>
                                    <td><b>To remove protect color of cotton garment</td>
                                    <td>: <b>Cellulase</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </p>
            </div>
            <div class="span12 margintop20">
                <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="protease, lipase, amylase, cellulase enzymes" href="../assets/img/products/detergent.png">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/detergent.png" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="detergent enzyme" href="../assets/img/products/detergent2.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/detergent2.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <hr/>
        <div class="row margintop20">
            <div class="span12 margintop20">
                <h6 class=" b_bolder">ANIMAL FEED SUPPLEMENTS</h6>
                <p class="paddingright20">
                    <div class="row">
                        <div class="span8">
                            <table class="table-borderless">
                                <tr>
                                    <td>Breaking down of starch, nonstarch polysaccharideProtein to help in digestion</td>
                                    <td>: <b>alpha amylase, protease, beta glucanase, cellulase, xylanase</b></td>
                                </tr>
                                <tr>
                                    <td>alpha amylase, protease, beta glucanase, cellulase, xylanase</td>
                                    <td>: <b>phytase, tannase</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </p>
            </div>
            <div class="span12 margintop20">
                <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="POULTRY FEED ENZYMES" href="../assets/img/products/afs1.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/afs1.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" data-type="web" style="height: 160px;width: 180px;">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Animal feed enzymes" href="../assets/img/products/afs2.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/products/afs2.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>

    </div>
</section>

<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-products").addClass("active");
        $(".nav-enzymes").addClass("active");
    });
</script>