<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Organic Farming Inputs & Services</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content" class="marginbtm30">
    <div class="container">
        <div class="row">
            <div class="span7">
                <p>
                    <strong class="">PLANET BIOTECH INDIA</strong> provides Consultancy services and Inputs (Seeds, Biofertilizer, Biopesticide and Bio-organic products) for organic farming.
                </p>
            </div>
            <div class="span2">
                <img src="../assets/img/products/organic_farming1.jpg" class="pull-right" alt="">
            </div>
        </div>
    </div>
</section>

<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-products").addClass("active");
        $(".nav-organic_farming_services").addClass("active");
    });
</script>