<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Projects Done</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span7">
                <h5><b class=" b_bolder">PROJECT 7</b></h5>
                <p>
                    Technology transfer to setup Liquid and carrier based Biofertilizer and Biopesticide large scale production during Feb 2012 to May 2013. consultancy service from may 2013 onward.<br><br>
                    The unit  is located at Rajkot city of Gujarat having biofertilizer and Biopesticide annual production capacity of 100-150 KL liquid and 250-300 MT powder formulation.<br><br>
                    <b>Scope of work :-</b> Complete technology transfer starting from designing laboratory & production area infrastructure, instrumentation, raw material-organisms (strain) sourcing to pilot and large scale batch run and final formulation for Biofertilizer-biopesticide, shelf life study and solubilization zone-activity assay.
                </p>
            </div>
            <div class="span5">
                <section>
                    <ul id="thumbs7" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 130px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Biofertilizer biopesticide turnkey project executer www.planetbiotechindia.com" href="../assets/img/projects/project71.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project71.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 130px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Biofertilizer biopesticide turnkey plant solution www.planetbiotechindia.com" href="../assets/img/projects/project72.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project72.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 130px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Azotobacter, potash zinc, phosphate solubilizingbacteria, Rhizobium Liquid biofertilizer and trichoderma, Pseudomonas, Paecilomyce biopesticide, biofungicide, bionematicide manufacturer and supplier www.planetbiotechindia.com" href="../assets/img/projects/project73.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project73.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 130px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="azotobacter, PSB, Rhizobium Biofertilizer biopesticide turnkey plant supplier www.planetbiotechindia.com" href="../assets/img/projects/project74.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project74.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <!-- divider -->
        <div class="row margintop20">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span7">
                <h5><b class=" b_bolder">PROJECT 6</b></h5>
                <p>
                    Consultancy service provide to working biofertilizer unit during Feb. 2012 to August 2013.<br>
                    The unit  is located at Vadodara city of Gujarat having biofertilizer annual production capacity of 50-100 KL liquid.<br><br>
                    <b>Scope of work :-</b> Development of Potash Solubilizing Bacterial (KSB) product.<br>
                    Optimization of the fermentation media, parameters & strain revival for better and faster growth, to provide pilot scale fermentation vessel design with aeration facility.
                </p>
            </div>
            <div class="span5 margintop40">
                <section>
                    <ul id="thumbs6" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer turnkey solution, biofertilizer turnkey project executor www.planetbiotechindia.com (2)" href="../assets/img/projects/project61.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project61.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer turnkey solution, biofertilizer turnkey project executor www.planetbiotechindia.com" href="../assets/img/projects/project62.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project62.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <!-- divider -->
        <div class="row margintop20">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span7">
                <h5><b class=" b_bolder">PROJECT 5</b></h5>
                <p>
                    Technology transfer to setup Liquid and carrier based Biofertilizer large scale production and R&D Laboratory during Nov 2011 to March 2013.<br><br>
                    The unit  is located in Gujarat having biofertilizer annual production capacity of 50-100 KL liquid and 100-150 MT powder formulation.<br><br>
                    <b>Scope of work :-</b> Complete technology transfer starting from designing laboratory & production area infrastructure, instrumentation, raw material-organisms (strain) sourcing to pilot and large scale batch run for Biofertilizers liquid & powder formulation, shelf life study and solubilization zone-activity assay.
                </p>
            </div>
            <div class="span5">
                <section>
                    <ul id="thumbs5" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer and biopesticide manufacturer and Turnkey project www.planetbiotechindia.com" href="../assets/img/projects/project51.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project51.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer and biopesticide manufacturer and supplier in gujarat www.planetbiotechinidia.com" href="../assets/img/projects/project52.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project52.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer and biopesticide manufacturer and supplier in surat www.planetbiotechinidia.com" href="../assets/img/projects/project53.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project53.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer and biopesticide manufacturer and supplier in india www.planetbiotechinidia.com" href="../assets/img/projects/project54.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project54.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <!-- divider -->
        <div class="row margintop20">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span7">
                <h5><b class=" b_bolder">PROJECT 4</b></h5>
                <p>
                    Technology transfer to setup Liquid and carrier based Biofertilizer and biopesticide large scale production and R&D Laboratory during Oct. 2011 to Nov. 2012.<br><br>
                    The unit  is located at Ahmedabad city of Gujarat having biofertilizer annual production capacity of 50-100 KL liquid and 50 MT powder formulation.<br><br>
                    <b>Scope of work :-</b> complete technology transfer, optimization of the  fermentation media and parameters, final formulation, shelf life study, solubilization zone- activity assay.<br>
                    Monitor and lead R&D and production team for better formulations and new product development
                </p>
            </div>
            <div class="span5 margintop40">
                <section>
                    <ul id="thumbs4" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer turnkey solution, biofertilizer turnkey project executor www.planetbiotechindia.combiofertilizer turnkey solution, biofertilizer turnkey project executor www.planetbiotechindia.com" href="../assets/img/projects/project41.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project41.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <!-- divider -->
        <div class="row margintop20">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span7">
                <h5><b class=" b_bolder">PROJECT 3</b></h5>
                <p>
                    Consultancy Service provided to setup bio-organic fertilizer and biopesticide production unit during June 2011 to Jan 2013.<br><br>
                    The unit  is located at Ahmedabad city of Gujarat having bio-organic fertilizer annual production capacity of 50-70 KL liquid and 50 MT powder formulation.<br><br>
                    <b>Scope of work :-</b> Optimization of the ingredients concentration and parameters to formulate the bio-organic products i.e plant growth promoters, amino acid, sea-weed extract (zyme) and plant hormone based formulation, botanical biopesticides etc , shelf life study and field trials.
                </p>
            </div>
            <div class="span5 margintop40">
                <section>
                    <ul id="thumbs3" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer and biopesticide turnkey solution provider www.planetbiotechindia.com" href="../assets/img/projects/project31.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project31.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <!-- divider -->
        <div class="row margintop20">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span7">
                <h5><b class=" b_bolder">PROJECT 2</b></h5>
                <p>
                    Consultancy Service provided to working Biofertilizer and Biopesticide production unit during Feb 2011 to September 2011.<br><br>
                    The unit  is located at anand city of Gujarat having biofertilizer annual production capacity of 100-200 KL liquid and 300 MT powder formulation.<br><br>
                    <b>Scope of work :-</b> Optimization of the fermentation parameters i.e. alternate cheaper medium, aeration and agitation, strain and process improvement to overcome formulation problems (gases in bottle) to obtain better and cost effective output. solubilization zone- activity assay.<br>
                    Monitor and lead R&D team for different projects to make better formulations and new product development.
                </p>
            </div>
            <div class="span5 margintop40">
                <section>
                    <ul id="thumbs3" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer and biopesticide turnkey solution provider www.planetbiotechindia.com" href="../assets/img/projects/project21.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project21.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <!-- divider -->
        <div class="row margintop20">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span7 margintop20">
                <h5><b class=" b_bolder">PROJECT 1</b></h5>
                <p>
                    Consultancy Service provided to setup Biofertilizer and Biopesticide small scale production and R&D Laboratory during July 2010 to Feb 2011.<br>
                    The Laboratory is located at Rajkot City of Gujarat.<br><br>
                    <b>Scope of work </b> included Laboratory designing, Sourcing of Instruments, Raw materials and Optimization of the fermentation upstream-downstream processes, strain and process improvement for better output, Development of the formulation and Laboratory-field trial.
                </p>
            </div>
            <div class="span5">
                <section>
                    <ul id="thumbs3" class="portfolio">
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Biofertilizer and biopesticide training www.planetbiotechindia.com" href="../assets/img/projects/project11.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project11.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biofertilizer and biopesticide consultancy services and turnkey solution provider www.planetbiotechindia.com" href="../assets/img/projects/project12.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project12.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Biofertilizer turnkey project supplier in surat, gujarat, india www.planetbiotechindia.com" href="../assets/img/projects/project13.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project13.jpg" style="height:100%" alt="">
                        </li>
                        <li class="item-thumbs span3 design" data-id="id-0" style="height: 120px;width: 150px;" data-type="web">
                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="biopesticide and azotobacter biofertilizer technology transfer and turnkey project www.planetbiotechindia.com" href="../assets/img/projects/project14.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                            </a>
                            <img src="../assets/img/projects/project14.jpg" style="height:100%" alt="">
                        </li>
                    </ul>
                </section>
            </div>
        </div>

    </div>
</section>

<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-projects_done").addClass("active");
    });
</script>