
<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="inner-heading text-center">
            <h2>Animal Probiotics & Feed Supplements</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="content" class="marginbtm30">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p>
                        We provide Probiotics Turnkey plant, animal Probiotics & feed supplements, animal Probiotics production technology, consultancy services and training to develop or improve Probiotics products.
                    </p><br>
                    <p>
                        <strong class="">PLANET BIOTECH INDIA</strong> has developed different microbial formulations which produce digestive enzymes that help in the digestion of complex carbohydrate, protein and fat. This microbe also removes anti-nutritional compounds from the feed as well as produces vitamins that help in growth and development of Fish. Shrimp, Chick, cows, buffalos and other animal
                    </p><br>
                    <p>
                        We have also developed different bacterial and yeast formulation for fresh water aquaculture farming which controls ammonia level of pond, purifies the soil and water quality and removes harmful toxins from pond. We also provide animal feed supplements like digestive enzymes, vitamins, protein hydrolysate, minerals and toxin binder etc.
                    </p>
                </div>
            </div>
            <hr/>
            <div class="row margintop20">
                <div class="span6 margintop10">
                    <h6 class=" b_bolder">Aquaculture</h6>
                    <p class="paddingright20">
                        Digestive microbes-digestive enzymes Microbial formulation for Ammonia control Dried active/inactive yeast, yeast extract powder Vitamin, amino acid and mineral formulation Toxin binder
                    </p>
                </div>
                <div class="span6 margintop10">
                    <a href="../assets/img/products/aquaculture1.jpg" class="pull-right marginright5" target="_blank">
                        <img src="../assets/img/products/aquaculture1.jpg" style="height: 150px;" alt="image">
                    </a>
                    <a href="../assets/img/products/aquaculture2.jpg" class="pull-right marginright5" target="_blank">
                        <img src="../assets/img/products/aquaculture2.jpg" style="height: 150px;" alt="image">
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row margintop20">
                <div class="span6 margintop10">
                    <h6 class=" b_bolder">Poultry</h6>
                    <p class="paddingright20">
                        Digestive microbes-digestive enzymes Dried active/inactive yeast, yeast extract powder Vitamin, amino acid and mineral formulation Liver tonic
                    </p>
                </div>
                <div class="span6 margintop10">
                    <a href="../assets/img/products/poultry1.jpg" class="pull-right marginright5" target="_blank">
                        <img src="../assets/img/products/poultry1.jpg" style="height: 150px;" alt="image">
                    </a>
                    <a href="../assets/img/products/poultry2.jpg" class="pull-right marginright5" target="_blank">
                        <img src="../assets/img/products/poultry2.jpg" style="height: 150px;" alt="image">
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row margintop20">
                <div class="span6 margintop10">
                    <h6 class=" b_bolder">Cattle</h6>
                    <p class="paddingright20">
                        Digestive microbes-digestive enzymes Dried active/inactive yeast, yeast extract powder Vitamin, amino acid and mineral formulation Liver tonic
                    </p>
                </div>
                <div class="span6 margintop10">
                    <a href="../assets/img/products/calter1.jpg" class="pull-right marginright5" target="_blank">
                        <img src="../assets/img/products/calter1.jpg" style="height: 150px;" alt="image">
                    </a>
                    <a href="../assets/img/products/calter2.jpg" class="pull-right marginright5" target="_blank">
                        <img src="../assets/img/products/calter2.jpg" style="height: 150px;" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </section>

  <script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-products").addClass("active");
        $(".nav-animal_probiotics").addClass("active");
    });
</script>