
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading text-center">
                    <h2>Biopesticide Services</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content" class="marginbtm30">
    <div class="container">
        <p>
            <b class="">PLANET BIOTECH INDIA</b> has developed a unique <b class="">solid state fermentation technology</b> for fungal mass production to formulate highly concentrated Biopesticide and submerged fermentation for fungus as well as bacteria to formulate fermentation based Biopesticide.<br><br>We supply Biopesticide Turnkey plant, Products, Raw material, complete Biopesticide production Technology and consultancy services for Biopesticide manufacturing process,  Training on biopesticide industrial production process etc
        </p>

        <div class="row margintop40">
            <div class="span6 margintop20">
                <h6 class=" b_bolder">TRICHODERMA VIRIDE/ TRICHODERMA HARZIANUM</h6>
                <p class="paddingright20">
                    This fungus controls plant pathogenic fungus by enzymatic and antagonistic action.<br><br>This product is highly effective on root and stem rots caused by <i>Sclerotinia</i> & <i>Rhizoctonia</i>, wilts caused by <i>Fusarium</i> and <i>Verticillium</i> and <i>blights</i>, leaf spots caused by <i> Alternaria,  Ascochyta, Cercospora, Macrophomina, Myrothecium, Ramularia,</i> Downy mildews & Powdery mildews, fungal diseases of Cotton, Cereals, Pulses.
                </p>
            </div>
            <div class="span6 margintop30">
                <a href="../assets/img/products/tv_th1.jpeg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/tv_th1.jpeg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/tv_th2.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/tv_th2.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/tv_th3.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/tv_th3.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span6">
                <h6 class=" b_bolder">BEAUVERIA BASSIANA | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    When spores of this fungus come into contact with the body of an insect host, they germinate, enter the body, and grow inside, eventually kill the insect. Then a white mold grows on the dead insect body and produces new spores.<br><br>
                    Highly effective on Lepidopteron caterpillars- Helicoverpa, Spodoptera, Plutella, Borers, Hairy caterpillars pests of vegetables & fruit plants, and sucking pests like mites & spider, mealy bug , white flies of cotton & vegetables, thrips, jassids, aphids & scale insects, locust, Colorado beetles of potato and Coffee pod – borer.
                </p>
            </div>
            <div class="span6 margintop40">
                <a href="../assets/img/products/bb1.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/bb1.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/bb2.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/bb2.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/bb3.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/bb3.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span6">
                <h6 class=" b_bolder">PAECILOMYCES LILACINUS | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    This fungus secrets enzymes that kill nematodes. It forms special traps like mycelial networks and constructing rings in infected nematodes. Controls various phytopathogenic nematodes, cyst nematodes (Geterodera spp. and Globodera spp.) and root knot (Meloidogyne spp.)<br><br>
                    Effectively controls nematodes like Nacobbus spp. (False Root-knot Nematodes).  Radopholus similis (Burrowing nematode); Pratylenchus spp. (Root lesion nematodes); Rotylenchulus reniformis (Reniform Nematode).
                </p>
            </div>
            <div class="span6 margintop30">
                <a href="../assets/img/products/pl1.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/pl1.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/pl2.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/pl2.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/pl3.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/pl3.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span6">
                <h6 class=" b_bolder">VERTICILLIUM LECANII | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    It is a naturally occurring entomo-pathogenic fungus used for biological control of sucking insects like aphids, jassids, thrips, white flies, mealy bugs and different types of mites.
                </p>
            </div>
            <div class="span6">
                <a href="../assets/img/products/vl1.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/vl1.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/vl2.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/vl2.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/vl3.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/vl3.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span6">
                <h6 class=" b_bolder">METARHIZIUM ANISOPLIAE | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    This entomo-pathogenic fungus adheres to insect cuticle, kills the insects and is easily transferred to other termites.<br><br>
                    Effectively controls Termites, White Ants. Sugar cane beetles. Carpenter ants, Locust Ants that spread Mealy bugs, Root grubs and Fruit Flies
                </p>
            </div>
            <div class="span6 margintop10">
                <a href="../assets/img/products/ma1.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/ma1.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/ma2.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/ma2.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span6">
                <h6 class=" b_bolder">BACILLUS THURINGIENSIS | POWDER- LIQUID</h6>
                <p class="paddingright20">
                    These bacteria synthesize the crystal protein when eaten by insects it gets activated in insect guts due to alkaline condition and attacks the gut lining. This causes paralysis of the gut and the insects stops feeding and die eventually.<br><br>
                    <b>Controls most of the target pests like:</b>
                    <div class="row">
                        <div class="span2">
                            <ul>
                                <li>Spodoptera litura</li>
                                <li>Helicoverpa armigera</li>
                                <li>Gypsy moth</li>
                                <li>Cut worms</li>
                            </ul>
                        </div>
                        <div class="span4">
                            <ul>
                                <li>Fruit borers</li>
                                <li>Leaf-rollers and miners</li>
                                <li>Shoot and Stem borers</li>
                                <li>Hairy caterpillars</li>
                            </ul>
                        </div>
                    </div>
                </p>
            </div>
            <div class="span6 margintop10">
                <a href="../assets/img/products/bt1.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/bt1.jpg" style="height: 150px;" alt="image">
                </a>
                <a href="../assets/img/products/bt2.jpg" class="pull-right marginright5" target="_blank">
                    <img src="../assets/img/products/bt2.jpg" style="height: 150px;" alt="image">
                </a>
            </div>
        </div>
    </div>
</section>



<script>
    $(function(){
        $(".nav").find("li").removeClass("active");
        $(".nav-products").addClass("active");
        $(".nav-biopesticide_services").addClass("active");
    });
</script>